<%= render partial: 'shared/header'%>

<div class="contents">
  <div class="selected-article">
    <div class="selected-article-image">
      <%= image_tag(@article.src, size: "100x100")%>
    </div>
    <div class="selected-article-title">
      <%= @article.title %>
    </div>
    <div class="selected-article-next">
      <%= link_to "続きを読む", @article.url, target: :_blank%>
    </div>
  </div>
  <div class="comments">
    <%= form_with model: @comment, url: "comments/:article_id/:user_id" do |f| %>
      <%= f.label :content, :コメント%>
      <%= f.text_area :content, id: :content, class: ""%>
      <%= f.submit :投稿する%>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/footer' %>
