<%= render partial: 'shared/header'%>

<div class="contents">
  <div class="selected-article">
    <div class="selected-article-image">
      <%= image_tag(@article.src, size: "100x100")%>
    </div>
    <div class="selected-article-title">
      <%= @article.title %>
    </div>
    <div class="selected-article-next">
      <%= link_to "続きを読む", @article.url, target: :_blank%>
    </div>
  </div>
  <div class="comments">
    <div class="comments-form">
      <%= form_with model: @comment, url: "comments/#{@article.id}/#{current_user.id}" do |f| %>
        <%= f.label :content, :コメント%>
        <%= f.text_area :content, id: :content, class: ""%>
        <%= f.submit :投稿する%>
      <% end %>
    </div>
    <div class="comments-comment">
        <% @comments.each do |comment|%>
           <% if comment.user %>
            <div class="comment">
              <%= image_tag(comment.user.image.url, size: "50x50")%>
              <%= comment.user.name%>
              <%= comment.content %>
            </div>
           <% end %>
        <% end %>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
