<header class="admin-header">
 <%= link_to "管理画面", "/admin/top"%>
</header>
<nav class="admin-nav">
  <ul>
    <li class="admin-nav-li">
      <%= link_to "記事一覧", "/admin/articles/index"%>
    </li>
    <li class="admin-nav-li">
      <%= link_to "記事登録", "/admin/articles/new"%>
    </li>
  </ul>
</nav>
<div class="admin-content">
  <h1 class="admin-content-title">記事登録フォーム</h1>
  <%= form_with scope: :post, url: users_path do |f| %>
    <%= f.label :url%>
    <%= f.text_field :url, id: :url, class: ""%>
    <%= f.label :title, :記事タイトル文%>
    <%= f.text_field :title, id: :title, class: ""%>
    <%= f.label :src, :画像Url%>
    <%= f.text_field :src, id: :src, class: ""%>
    <%= f.submit :登録%>
  <% end %>
</div>
