<header class="admin-header">
 <p>管理画面</p>
</header>
<nav class="admin-nav">
  <ul>
    <li class="admin-nav-li">
      <%= link_to "記事一覧", "/admin/articles/index"%>
    </li>
    <li class="admin-nav-li">
      <%= link_to "記事登録", "/admin/articles/new"%>
    </li>
  </ul>
</nav>
<div class="class="admin-content"">
  <table>
    <tr>
      <th></th>
      <th>id</th>
      <th>url</th>
      <th>title</th>
      <th>src</th>
    </tr>
    <% @articles.each do |article|%>
      <tr>
        <td><%= link_to "編集", "/admin/articles/edit/#{article.id}"%></td>
        <td><%= link_to "削除", article_path(article), method: "delete"%></td>
        <td><%= article.id%></td>
        <td><%= article.url%></td>
        <td><%= article.title%></td>
        <td><%= article.src%></td>
      </tr>
    <% end %>
  </table>
</div>
