<%= render partial: 'shared/header'%>

<div class="contents">
  <h1>ユーザー登録</h1>
  <div class="form">
    <%= form_with model: @user do |f| %>
      <%= f.label :name, :名前%>
      <%= f.text_field :name, id: :name, class: ""%>
      <%= f.label :email, :メールアドレス%>
      <%= f.text_field :email, id: :email, class: ""%>
      <%= f.label :password, :パスワード%>
      <%= f.password_field :password, id: :password, class: ""%>
      <%= f.label :password, :パスワードの確認%>
      <%= f.password_field :password_confirmation, id: :password_confirmation, class: ""%>
      <%= f.submit :登録%>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/footer' %>
