<%= render partial: 'shared/header'%>

<div class="contents">
  <div class="user-details">
    <div class="user-image">
        <%= image_tag(@user.image.url, size: "100x100")%>
    </div>
    <div class="user-name">
      <%= @user.name %>
    </div>
    <div class="user-introduction">
      ナンパ歴25年
    </div>
    <div>
      <%= link_to "アカウント編集", edit_user_path(@user.id)%>
    </div>
  </div>

  <div class="user-comment-articles">
    <p>あなたがコメントした記事一覧</p>
    <% @articles.each do |article|%>
        <div class="user-comment-article">
          <%= link_to article.title, article_path(article)%>
          <%= image_tag(article.src, size: "100x100")%>
        </div>
  <% end %>
  </div>
</div>

<%= render partial: 'shared/footer' %>
