<%= render partial: 'shared/header'%>

<div class="contents">
  <div class="user-details">
    <div class="user-image">
      <%= image_tag(@user.image.url, size: "100x100")%>
    </div>
    <div class="user-name">
      <%= @user.name %>
    </div>
    <div class="user-introduction">
      ナンパ歴25年
    </div>
    <div>
      <%= link_to "アカウント編集", edit_user_path(@user.id)%>
    </div>
  </div>

  <div class="comments">

  </div>
</div>

<%= render partial: 'shared/footer' %>
