<%= render partial: 'admin/shared/header'%>

<%= render partial: 'admin/shared/nav'%>

<div class="class="admin-content"">
  <h1>ユーザー編集</h1>
  <div class="form">
    <%= form_with model: @user, url: admin_user_path do |f| %>
      <%= f.label :name, :名前%>
      <%= f.text_field :name, id: :name, class: ""%>
      <%= f.label :email, :メールアドレス%>
      <%= f.text_field :email, id: :email, class: ""%>
      <%= f.label :image, :画像%>
      <%= image_tag(@user.image.url, size: "50x50")%>
      <%= f.file_field :image, id: :image, class: ""%>
      <%= f.label :introduction, :自己紹介%>
      <%= f.text_field :introduction, id: :introduction, class: ""%>
      <%= f.label :password, :パスワード%>
      <%= f.password_field :password, id: :password, class: ""%>
      <%= f.label :password, :パスワードの確認%>
      <%= f.password_field :password_confirmation, id: :password_confirmation, class: ""%>
      <%= f.submit :編集%>
    <% end %>
  </div>
</div>
